<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Repozytorium publikacji</title>
    <script type=text/javascript src='../static/js/changepassword.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/add.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div id="col-3" class="col-3">
        <!--TODO przyciski powrotow tu i w rejce -->
    </div>
    <div class="col-6">
        <div class="background">
            <h2 class="title" id="title">Zmiana hasła {{ message | safe }}</h2>
            <form class="form" action="https://web.company.com/changepassworduser" method="POST"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label id="labelOldPassword">Stare hasło:</label>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword">
                </div>
                <div class="form-group">
                    <label id="labelNewPassword">Nowe hasło:</label>
                    <input type="password" class="form-control" name="newPassword" id="newPassword">
                </div>
                <div class="form-group">
                    <label id="labelNewPasswordRepeat">Powtórz nowe hasło:</label>
                    <input type="password" class="form-control" name="newPasswordRepeat" id="newPasswordRepeat">
                </div>
                <div class="row">
                    <div class="col">
                        <a href="/index" type="submit" class="btn btn-info">Strona główna</a>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="changeButton">Zmień</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="col-3">
    </div>
</div>
</body>
</html>