<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Repozytorium plików</title>
    <script type=text/javascript src='../static/js/details.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/details.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div id="col-3" class="col-3">
    </div>
    <div class="col-6">
        <div class="background">
            <h2 class="title" id="title">Publikacja o ID: {{ publication.get('pubID') }}</h2>
            <div class="row">
                <div class="col">
                    <label>Tytuł: {{ publication.get('title') }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Autor: {{ publication.get('author') }}</label>
                </div>
                <div class="col">
                    <label>Kto opublikował: {{ publication.get('publisher') }}</label>
                </div>
                <div class="col">
                    <label>Data dodania: {{ publication.get('publishDate') }}</label>
                </div>
            </div>
            {% if files|length > 0 %}
            <div class="row">
                <div class="col">
                    <ul class="list-group list-group-flush">
                        Pliki:
                        {% for file in files %}
                        <li class="list-group-item"><a
                                href="https://cdn.company.com/files/{{ uid }}/{{ publication.get('pubID') }}?token={{ downloadToken }}&filename={{ file }}">{{ loop.index }}. {{ file
                            }}</a>
                            <form action="https://web.company.com/deletefile" method="POST">
                                <input type="hidden" name="uid" value="{{ uid }}"/>
                                <input type="hidden" name="pid" value="{{ publication.get('pubID') }}"/>
                                <input type="hidden" name="token" value="{{ deleteToken }}"/>
                                <input type="hidden" name="filename" value="{{ file }}"/>
                                <button type="submit" class="btn btn-danger">Usuń</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <form class="form"
                  action="https://web.company.com/addfiles"
                  method="POST" enctype="multipart/form-data">
                <input type="file" name="files" id="files" multiple/>
                <input type="hidden" name="uid" value="{{ uid }}"/>
                <input type="hidden" name="pid" value="{{ publication.get('pubID') }}"/>
                <input type="hidden" name="token" value="{{ uploadToken }}"/>
                <button type="submit" class="btn btn-success" id="submitButton">Dodaj pliki</button>
            </form>
            <div class="row">
                <div class="col">
                    <form class="form"
                          action="https://web.company.com"
                          method="GET">
                        <button type="submit" class="btn btn-info">Strona główna</button>
                    </form>
                </div>
                <div class="col">
                    <form class="form"
                          action="https://web.company.com/edit"
                          method="GET">
                        <input type="hidden" name="token" value="{{ listToken }}"/>
                        <input type="hidden" name="pid" value="{{ publication.get('pubID') }}"/>
                        <input type="hidden" name="uid" value="{{ uid }}"/>
                        <button type="submit" class="btn btn-primary">Edytuj publikację</button>
                    </form>
                </div>
                <div class="col">
                    <form class="form"
                          action="https://web.company.com/deletepublication" method="POST">
                        <input type="hidden" name="token" value="{{ deleteToken }}"/>
                        <input type="hidden" name="pid" value="{{ publication.get('pubID') }}"/>
                        <input type="hidden" name="uid" value="{{ uid }}"/>
                        <button type="submit" class="btn btn-danger">Usuń publikację</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class>
            Jesteś zalogowany jako: {{ uid }}
            <a href="/logout">(Wyloguj)</a>
        </div>
    </div>
</div>
</body>
</html>