<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Repozytorium publikacji</title>
    <script type=text/javascript src='../static/js/details.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/details.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div id="col-3" class="col-3">
    </div>
    <div class="col-6">
        <div class="background">
            <h2 class="title" id="title">Publikacja użytkownika: {{ suid }} </h2>
            <div class="row">
                <div class="col">
                    <label>Tytuł: {{ publication.get('title') }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Autor: {{ publication.get('author') }}</label>
                </div>
                <div class="col">
                    <label>Kto opublikował: {{ publication.get('publisher') }}</label>
                </div>
                <div class="col">
                    <label>Data dodania: {{ publication.get('publishDate') }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Mogą wyświetlać:</label>
                    <br>
                    <label>{{ uid }}</label><br>
                    {% for user in publication.get('share') %}
                        {% if user != uid %}
                            <label value={{ user }}>{{ user }}</label><br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if files|length > 0 %}
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            Pliki:
                            {% for file in files %}
                                <li class="list-group-item"><a
                                        href="https://cdn.company.com/filesshare/{{ uid }}/{{ spid }}/{{ suid }}?token={{ downloadToken }}&filename={{ file }}">{{ loop.index }}. {{ file }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col">
                    <form class="form"
                          action="https://web.company.com"
                          method="GET">
                        <button type="submit" class="btn btn-info">Strona główna</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class>
            Jesteś zalogowany jako: {{ uid }}
            <a href="/logout">(Wyloguj)</a>
        </div>
        <div>
            <a href="/changepassword" class="registerButton">Zmień hasło</a>
        </div>
    </div>
</div>
</body>
</html>