<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>Repozytorium publikacji</title>
    <script type=text/javascript src='../static/js/index.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div id="col-3" class="col-3">
    </div>
    <div class="col-6">
        <div class="background">
            <h2 class="title">Twoje publikacje {{ message | safe }}</h2>
            <div class="list-group">
                {% for id, title in listOfPublications.items() %}
                    {% if id != '_links' %}
                        <a class="list-group-item list-group-item-action"
                           href="https://web.company.com/details?token={{ listToken }}
                    &uid={{ uid }}&pid={{ id }}">{{ loop.index }}. {{ title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <form class="form" action="/add">
                <input class="btn btn-primary" type="submit" value="Dodaj nową publikację"/>
            </form>
        </div>
    </div>
    <div class="col-3">
        <div>
            Jesteś zalogowany jako: {{ uid }}
            <a href="/logout">(Wyloguj)</a>
        </div>
        <div>
            <a href="/changepassword" class="registerButton">Zmień hasło</a>
        </div>
    </div>
</div>
</body>
</html>