<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>PDFile</title>
    <script type=text/javascript src='../static/js/login.js'></script>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">

</head>
<body>
<div class="container">
    <form class="form">
        <h1 class="title" id="title">PDFile</h1>
        <input type="text" name="username" placeholder="Login" class="fieldInput"/>
        <input type="password" name="password" placeholder="Hasło" class="fieldInput"/>
        <input type="button" class="button" id="sendButton" value="Zaloguj"/>
    </form>
</div>
</body>
</html>